* {
    overflow: hidden;
    margin: 0%;
}

body {
    padding: 10px;
    width: 300px;
}

.part {
    padding: 5px;
}

.part p {
    padding-bottom: 3px;
}

.part div {
    display: flex;
    justify-content: space-between;
}

#folderSelect {
    width: 250px;
}

#searchText {
    width: 225px;
}

#searchButtonP {
    margin-right: 5px;
}

#searchButton {
    margin-right: 5px;
}

#bookmarks {
    overflow-y:scroll;
    height: 200px;
    padding-left: 0px;
}

li {
    display: flex;
    padding: 3px;
}

li:hover {
    border: 1px solid red;
    border-radius: 10px;
}

.update {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    border-radius: 10px;
}

.update div {
    margin-left: 0%;
    width: 270px;
    justify-content: space-around;
}

li div {
    margin-left: 5px;
    white-space: nowrap;
    width: 300px;
}

.wrench {
    margin-right: 5px;
    margin-left: auto;
    width: 30px;
    padding: 1px;
}

li input {
      margin-right: 5px; 
}

.actionButton {
    padding: 3px;
}

hr {
    padding: 0px;
}

.updateButtons {
    color: white;
    border-radius: 5px;
}

#saveButton {
    background-color: rgb(60, 179, 113);
}

#deleteButton {
    background-color: red;
}

#cancelButton {
    background-color: rgb(83, 175, 255);
}